@charset "utf-8";
/* CSS Document */
* {
	margin:0;
	padding:0;
}

html{
    width: 100%;
}

body{
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color:#fff;
    font-family: "Roboto Condensed",sans-serif;
	color:#454545;
}

a:link{
text-decoration:none;
color:#514929;
}
a:active{
text-decoration:none;
color:#514929;
}
a:visited{
text-decoration:none;
color:#514929;
}
a:hover{
color:#517619;
text-decoration:none;
}

.menuOn{
font:bold 12px 'Arial'; 
background-color:#dfddc4;
color:#7e8001;
}

.menuOff{
font:bold 12px 'Arial'; color:#495931;
background-color:none;
}

.botaoPadrao{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #fafafa;
	background-color: #7d7a45;
	height: 19px;
	border:solid 1px #a4a05b;
}

.formularioPadrao {
background-color:#dbdabd;
border:solid 1px #fafafa;
height:19px;
font:normal 11px "Trebuchet MS";
color:#514929;
}

.formularioPadraoTextArea {
background-color:#dbdabd;
border:solid 1px #fafafa;
font:normal 11px "Trebuchet MS";
color:#514929;
}

.linkSaladeImprensa:link{
color:#566336;
}
.linkSaladeImprensa:visited{
color:#566336;
}
.linkSaladeImprensa:active{
color:#566336;
}
.linkSaladeImprensa:hover{
color:#919038;
}

.abaativa{
	font-size:12px;
	font-weight:bold;
	color:#0c7a12;
	margin:6px;
	cursor:pointer;
}
.abainativa{
	font-size:11px; 
	font-weight:normal; 
	color:#566336; 
	margin:6px; 
	cursor:pointer;
}

#bt_galeria {width:226px;height:27px;}

#ant:link, #ant:active, #ant:visited, 
#pausa:link, #pausa:active, #pausa:visited, 
#gira:link, #gira:active, #gira:visited, 
#prox:link, #prox:active, #prox:visited {
	display:block;
	height:27px;
	background:url(img/controles_usina.png) no-repeat;
	overflow:hidden;
	float:left;
	outline:none;
}

#ant:link, #ant:active, #ant:visited{ width:30px; background-position:0px -28px;	}
#ant:hover{ background-position:0px 0px; }

#pausa:link, #pausa:active, #pausa:visited { width:83px; background-position:-31px -28px; }
#pausa:hover{ background-position:-31px 0px; }

#gira:link, #gira:active, #gira:visited { width:83px; background-position:-114px -28px; }
#gira:hover{ background-position:-114px 0px; }

#prox:link, #prox:active, #prox:visited { width:30px; background-position:-196px -28px; }
#prox:hover{ background-position:-196px 0px; }

/*menu login*/
.menu-logged ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

.menu-logged li a {
    display: block;
    font-weight: 300;
    font-size: 15px;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.menu-logged li a:hover, .menu-logged li a.abaativa{
    background-color: #4CAF50;
    color: white;
    margin: 0px;
    font-weight: 300;
    font-size: 15px;
}

/*login*/
.login-container{
    display: block; 
    position: relative;
    padding: 20px;
    /*width: 100%;*/
    /*width: 820px;*/
    height: 800px; 
    margin: 0 auto;
}

.login-box{
    display: block;
    margin: 10px auto 15px auto;
    background: #fff;
    box-shadow: 0px 2px 6px 0px rgba(204,209,217,.5);
    border: 1px solid #E6E9ED;
    position: relative;
    width: 100%;
    max-width: 400px;
    height: 350px;
}

.login-box .link{
    font-weight: 400;
    color: #454545;
    font-style: italic; 
}

.login-box .link:hover{
    font-weight: 600;
}

.login-box form{
    padding: 20px 20px;
}

.login-box h1{
    font-size: 28px;
    font-weight: 600;
    font-style: italic;
    line-height: 26px;
    border-bottom: 1px solid #52A515;
    padding-bottom: 10px;
    color: #1E2433;
    margin-bottom: 10px;
}

.login-box h1 > p{
    font-size: 16px;
    font-weight: 400;
}

.login-box label{
    color: #454545;
    font-style: italic;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
}

.button--green{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 10px 16px 20px 0;
    padding: 10px;
    font-weight: 300;
    font-style: italic;
    font-size: 15px;
    text-decoration: none;
    color: white;
    border-radius: 0;
    transition: all .25s;
    transform: translate(0, -2px);
    background-color: #52A515;
}

.button--green:before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 3em;
    border-radius: 0 0 0 0;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.25);
    background-color: rgba(0, 0, 0, 0.25);
    transition: all .25s;
}

.tag{
    display: inline-block;
    position: relative;
    padding: 5px 20px;
}

.tag > span{
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    display: block;
    line-height: 23px;
    text-transform: capitalize;
}

.green{
    background-color: #52A515;
}

@keyframes arrow-bounce{from{transform:translateX(-8px)}to{transform:translateX(0)}}

.btn{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    padding-top: 0;
    padding-bottom: 0;
    visibility: visible;
}

.btn.disabled{
    display: none;
}

.btn-back .btn-arrow{
    left: -13px;
    background-color: #797979;
}

.btn-back{
    border: 1px solid #797979;
}

.btn-back .btn-arrow .icon-svg_arrow-left {
    background-image: url('data:image/svg+xml;charset%3DUS-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2025.5%2012.5%22%3E%3Cg%20data-name%3D%22Group%203118%22%3E%3Cg%20data-name%3D%22Group%201998%22%20fill%3D%22none%22%20stroke%3D%22%23fff%22%20stroke-linecap%3D%22round%22%20stroke-width%3D%222.5%22%3E%3Cpath%20data-name%3D%22Path%202827%22%20d%3D%22M7.037%2011.25L1.253%206.199l5.9-4.949%22%20stroke-linejoin%3D%22round%22%2F%3E%3Cpath%20data-name%3D%22Path%202828%22%20d%3D%22M24.25%206.25H2.97%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E'); 
    background-repeat: no-repeat;
    position: relative;
    top: 1px;
    display: inline-block;
    line-height: 1;
    width: 25px;
    height: 12px;
}

.btn-text{
    font-size: 14px;
}

.btn:hover .btn-arrow .icon-svg_arrow-right, .btn:hover .btn-arrow .icon-svg_arrow-left{
    animation:arrow-bounce .5s infinite alternate;
}

.btn-arrow{
    position: relative;
    right: -13px;
    display: inline-block;
    padding: 9px 7.5px;
    background-color: #52A515;
}

.btn-arrow > .icon-svg_arrow-right{
    background-image: url('data:image/svg+xml;charset%3DUS-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2028.433%2013.775%22%3E%3Cg%20data-name%3D%22Group%202524%22%3E%3Cg%20data-name%3D%22Group%201998%22%20fill%3D%22none%22%20stroke%3D%22%23fff%22%20stroke-linecap%3D%22round%22%20stroke-width%3D%222.5%22%3E%3Cpath%20data-name%3D%22Path%202827%22%20d%3D%22M20.658%201.25l6.525%205.694-6.656%205.581%22%20stroke-linejoin%3D%22round%22%2F%3E%3Cpath%20data-name%3D%22Path%202828%22%20d%3D%22M1.25%206.887h23.994%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E'); 
    background-repeat: no-repeat;
    position: relative;
    top: 1px;
    display: inline-block;
    line-height: 1;
    width: 25px;
    height: 12px;
}

.btn-add{
    margin-bottom: 15px;
}

.btn-add .btn{
    padding: 5px 10px;
    margin-bottom: 10px;
    color: white;
    background-color: #797979;
}

input[type="date"],
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
textarea {
    box-sizing : border-box;
    width: 100%;
    border: 1px solid #797979;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="tel"]:hover,
input[type="password"]:hover,
textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

input:focus,
textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

.select-container{
    position: relative;
    display: block;
}

.select-container:after{
    content: "";
    position: absolute;
    z-index: 2;
    right: 16px;
    top: 50%;
    margin-top: -3px;
    height: 0;
    width: 0;
    border-top: 6px solid #52A515;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    pointer-events: none;
}

/* Oportunidades*/
.filter{
    display: block;
    position: relative;
    width: auto;
    margin: 25px 0px;
    padding: 25px;
    background-color: #1E2433;
}
.filter-text{
    margin-bottom: 20px;
}

.filter-text > span{
    color: #fff;
    font-size: 15px;
    padding-right: 30px;
    z-index: 999;
    position: relative;
    letter-spacing: 1px;
}

.filter-select > form > select{
   background-color: #fff;
    border: solid 1px #dedede;
    height: 30px;
    color: #514929;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    width: 100%;
    display: block;
    padding: 8px 20px 7px 10px;
    margin: 0;
    line-height: normal;
    border-radius: 0px; 
    cursor: pointer;
}

.filter-select > form{
    max-width: 212px;
    position: relative;

}

.filter-select > form:after{
    content: "";
    position: absolute;
    z-index: 2;
    right: 16px;
    top: 50%;
    margin-top: -3px;
    height: 0;
    width: 0;
    border-top: 6px solid #52A515;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    pointer-events: none;
}

.filter-select_btn{
    margin-top: 20px;
    width: 212px;
}

.filter-select_btn > button{
    border: none;
    font-size: 15px;
    background-color: #52A515;
    color: #fff;
    width: 100%;
    height: 30px;
    font-weight: 300;
    cursor: pointer;
}

#tab_b p{
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 10px;
}


#prox:hover{ background-position:-196px 0px; }
.container{  margin-right: auto; margin-left: auto; padding: 10px;}


.job-form{margin-top:40px}
.job-form__btn{width:100%;display:block;height:42px;margin:20px 0px}
.job-form__btn p{color:#454545;font-style:italic;font-weight:300}
.job-form p{font-size:19px;color:#1E1E1E;line-height:23px;font-weight:300}
.job-form__next{width:135px;display:inline-block;float:right;}
.job-form__next .btn{ border: 1px solid #52A515; }
.job-form__back{width:125px;display:inline-block;float:right;margin-right:10px}
.job-form__back .btn-gray:hover .btn-arrow .icon-svg_arrow-right{-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);-o-transform:rotate(90deg);transform:rotate(90deg)}
.job-form .form-group{ margin-bottom:15px; } 
.job-form .form-group label{font-style:italic;font-weight:300;display:block;margin-bottom:0.5em;color:#454545;width: 100%; display: inline-block; }
.job-form .form-group.xxs{width:100px}
.job-form .form-group.sm{width:205px}
.job-form .form-group.md{width:100%}
.job-form .form-control{display:block;width:100%;padding:.375rem .75rem;font-size:1rem;line-height:1.5;height:38px;border-radius:0px;color:#797979;background-color:#fff;background-clip:padding-box;border:1px solid #797979;border-radius:0px;transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;-webkit-appearance:none}
.job-form__tab{ list-style-type: none;margin: 0; padding: 0; width: 100%;}
.job-form__tab li{ text-align: center; position: relative; }
.job-form__tab li:after{content:" ";width:100%;height:3px;left:0px;background-color:#fff;position:absolute;bottom:4px}
.job-form__tab li span.abaativa{background-color:#52A515; margin:0px;}
.job-form__tab li span{ cursor:pointer; color:#fff;font-size:15px; font-weight: 300; display: block; padding: 16px 16px; letter-spacing: 1px; background-color: #DEDEDE;margin: 6px 0px;}
.job-form__tab-content{border:1px solid #DEDEDE;padding:15px;position:relative}
.job-form .tabContent .final{display:none;background-color:#fff;position:absolute;width:100%;height:100%;top:0px;left:0px;padding:20px 0px;text-align:center}
.job-form .tabContent .final.active{display:block}
.job-form .tabContent .final h1{font-size:28px;line-height:33px;color:#1E2433;font-style:italic;font-weight:bold;position:relative}
.job-form .tabContent .final h1:after{content:" ";position:absolute;left:calc( 50% - 50px);bottom:-5px;height:4px;width:100px;background-color:#52A515}
.job-form .tabContent .final p{font-size:16px;color:#454545;font-style:normal}
.job-form .tabContent h1{font-size:19px;color:#1E1E1E;font-weight:400;padding:0px;font-style:normal;margin-bottom:15px}
.job-form .tabContent h2{font-size:19px;background-color:#F4F4F4;font-weight:400;padding:5px 15px;font-style:normal;margin-bottom:15px}
.job-form .tabContent h3{font-size:17px;color:#1E1E1E;font-weight:400;padding:0px;font-style:normal;margin-bottom:15px}
.job-form .tabContent textarea{height:100px}.job-form .tabContent .file-upload-input{width:70px;color:#797979;font-size:16px;padding:9px 17px;border:1px solid #797979;background-color:#fff;-moz-transition:all 0.2s ease-in;-o-transition:all 0.2s ease-in;-webkit-transition:all 0.2s ease-in;transition:all 0.2s ease-in;float:left}.job-form .tabContent .file-upload-button{cursor:pointer;display:inline-block;color:#fff;font-size:19px;text-transform:initial;font-style:italic;font-weight:200;padding:8px 20px;border:none;margin-left:-1px;background-color:#797979;float:left;-moz-transition:all 0.2s ease-in;-o-transition:all 0.2s ease-in;-webkit-transition:all 0.2s ease-in;transition:all 0.2s ease-in}.job-form .tabContent .file-upload-wrapper{display:block;height:100px}.job .title-1{border-bottom:1px solid transparent;padding:0px}
.job .btn{background-color:#fff; border-color: #52A515;margin-top:10px}
.job .btn-text{font-style:normal;color:#454545;}
.job-item{padding:0px 5px}.job-item__container h2{font-size:19px;margin:15px 0px;font-weight:300;font-style:normal;color:#1E1E1E}
.job-item__container p{margin:10px 0px;color:#454545;font-size:15px;line-height:25px}
.job-item__container p b{margin-right:3px}.job-item__btn{width:100%;margin:25px 0px}
.job-item__btn .btn{background-color:#fff; border-color: #52A515;}
.job-item__btn .btn-text{color:#454545; font-size: 14px;}
.job-work__text strong{color:#52A515;}.job-work__photo{width:195px;margin:0px auto}.job-work__send,.job-work__list{background-color:#055D22;display:block;width:auto;padding:30px;text-align:center}.job-work__send h1,.job-work__list h1{color:#fff;font-size:32px;line-height:40px}.job-work__send-btn,.job-work__list-btn{margin:10px auto;width:165px}.job-work__send-btn .btn,.job-work__list-btn .btn{border:1px solid #fff;color:#fff}.job-work__send-btn .btn-arrow,.job-work__list-btn .btn-arrow{background-color:#fff}.job-work__list{background-color:#52A515;margin-bottom:45px}.job-work2{background-color:#F4F4F4 !important;margin:0px !important;padding:20px 0px}.job-work3{display:block;width:100%;margin-bottom:30px}.job-work3 figure{border-bottom:5px solid #52A515}.job-work3 figure img{display:block;width:100%;position:relative}.job-work3__text{background-color:#DEDEDE;display:block;overflow:hidden;padding:35px 35px}.job-work3__text h2{font-size:30px;color:#454545;margin-bottom:15px}.job-work3__text h2 span{color:#52A515}.job-work3:last-child{margin-bottom:0px}

@media (min-width: 768px){

    /*menu logado */
    .menu-logged ul{
        overflow: hidden;
    }
    .menu-logged ul li{
        float: left;
    }
    .menu-logged li a {
        display: block;
        text-align: center;
        padding: 14px 16px;
    }
    
    .menu-logged li:last-child{
        float: right;
    }

    .job-form__tab{display:block;width:100%;height:65px;}
    .job-form__tab li{ width:calc(20% - 4px);margin-right:4.9px;display:inline-block;float:left;}
    .job-form__tab li span{ margin:0px; }
    .job-form__tab li:last-child{ margin-right:0px; }
    .job-form__tab-content{ margin-top:10px; padding:20px;}
    .job-form .form-group.inline{display:inline-block;margin-right:15px}

    .filter-text, .filter-select{
        width: auto;
        display: inline-block;
        vertical-align: middle;
        height: 100%;
        text-align: right;
        position: relative;
    }

    .filter-text{
        margin-bottom: 0px;
    }

    .filter-select{
        text-align: initial;
        width: calc(50% - 4px);
        max-width: 400px;
    }

    .filter-select > form, .filter-select_btn{
        width: calc(50% - 15px);
        display: inline;
        float: left;
    }

    .filter-select_btn{
        margin-top: 0px;
        margin-left: 14px;
    }
}

@media (min-width: 992px){
 .container{overflow:hidden}
 .job-form .form-group.md{width:400px}
 .job-form__tab-content{padding:40px}
 }
 @media (min-width: 1024px){
    .job-item{border:1px solid #DEDEDE;margin-bottom:20px}
    .job-item__container{padding:25px 25px}
    .job-item__btn{margin-bottom:0px}
    .job-item__btn:after{content:"";clear:both;display:table}
    .job-item__btn-container{float:right;width:290px}
    .job-work{margin:60px 0px}
    .job-work:after{content:"";clear:both;display:table}
    .job-work__text{margin-top:15px;width:calc(100% - 315px);display:inline-block;padding:0px 30px;vertical-align:top}
    .job-work__photo{display:inline-block}
    .job-work__send,.job-work__list{display:inline-block;width:calc(50% - 60px);float:left}
    .job-work__send{text-align:right;background-image:url(../img/trabalhe-conosco.png)}
    .job-work__send-btn{margin:10px 0px;float:right}
    .job-work__send-btn .btn:hover{background-color:#fff}
    .job-work__send-btn .btn:hover .btn-text{color:#055D22}
    .job-work__list{text-align:left;background-image:url(../img/trabalhe-conosco2.png)}
    .job-work__list .job-work__send-btn{margin:10px 0px;float:left}
    .job-work__list .job-work__send-btn .btn:hover .btn-text{color:#52A515}
    .job-work2{padding:50px 0px}
    .job-work2 .text-1{padding:0px 30px}
    .job-form .tabContent .file-upload-input{width:300px}


    .login-container{
        width: 850px;
    }
    
    .login-box{
        float: left;
        display: inline-block;
        margin: 10px;
    }

}

@media (min-width: 1250px){
    .container{
        width: 1250px;
    }
}

