<div style="width:970px; margin:0 auto;">
<!--	<div style="position:absolute; z-index:999; width:126px; height:126px; padding:15px 0 0 750px; margin:0 auto;">
		<img class="pngFix" src="img/selo.png" width="126" height="126" alt="80 anos" />
	</div> -->
	<script type="text/javascript">
		AC_FL_RunContent( 'codebase','https://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0','width','960','height','121','src','swf/topo','quality','high','pluginspage','http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash','wmode','transparent','movie','swf/topo' ); //end AC code
	</script>
	<noscript>
	<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
	codebase="https://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0" width="960" height="121"> 
		<param name="movie" value="swf/topo.swf" />
		<param name="quality" value="high" />
		<param name="wmode" value="transparent" />
		<embed src="swf/topo.swf" width="960" height="121" quality="high"
		pluginspage="https://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" wmode="transparent"></embed>
	</object>
	</noscript>
</div>