@charset "utf-8";
/* CSS Document */
/* PUB DESIGN - PEDRA AGROINDUSTRIAL - EVENTOS */

body{
	margin: 0 0 0 0;
	background-color:#9ba046;
	background-image:url(../img/fundo.jpg);
	background-repeat:repeat-x;
	font-family: "Trebuchet MS";
	}

#pai{
	margin: 0 auto; 
	width:941px;
	background-image:url(../img/bgPai.jpg);
	background-color:#e8e7d5;
	overflow:hidden;
	}

/* ----------------- ESTILO DO TOPO DA PÁGINA ----------------- */
#cabecalho{
	background-color:#003300; background-image:url(../img/fundoTopo.jpg); background-repeat:no-repeat;
	width:941px;
	height:121px;
	}

/* --------------- ESTILO DO CONTEÚDO DA PÁGINA --------------- */
#conteudo{
	position:relative;
	width:941px;
	}
#esquerda{
	float:left;
	background-image:url(../img/ultimas_seta.jpg);
	background-repeat:no-repeat;
	background-color:#e8e7d5;
	width:225px;
	padding-top:61px;
	padding-left:30px;
	}
#centro{
	float:left;
	background-image:url(../img/sombra_centro.jpg);
	background-repeat:no-repeat;
	background-color:#e4e3ce;
	width:405px;
	padding-top:61px;
	padding-left:15px;
	padding-right:15px;
	}
#direita{
	float:left;
	background-image:url(../img/sombra_direita.jpg);
	background-repeat:no-repeat;
	background-color:#e8e7d5;
	width:251px;
	padding-top:61px;
	}


/* --------------- DIV ESQUERDA - LISTA DE ÚLTIMOS EVENTOS POSTADOS --------------- */
/* -------------------------------------------------------------------------------- */
#eventos{
	font-family:"Trebuchet MS";
	width:211px;
	height:100%;
	}

.dataEvento{
	font-family:"Trebuchet MS";
	color:#66705c;
	font-size:10px;
	width:211px;
	padding-top:10px;
	}
	
.tituloEvento{
	font-family:"Trebuchet MS";
	color:#495931;
	font-size:12px;
	width:211px;
	line-height:14px;
	}
	
.resenhaEvento{
	font-family:"Trebuchet MS";
	color:#66705c;
	font-size:10px;
	width:211px;
	padding-top:5px;
	padding-bottom:5px;
	line-height:13px;
	}
	
.leiaMaisLink{
	font-family:"Trebuchet MS";
	color:#495931;
	font-size:9px;
	width:211px;
	padding-bottom:10px;
	}

.leiaMaisLink a:link, .leiaMaisLink a:visited,  .leiaMaisLink a:active{color:#495931; text-decoration:none;}
.leiaMaisLink a:hover {color:#9faa3c;}


/* ------------ DIV ESQUERDA - EVENTOS ABERTO NA PARTE CENRTAL DO SITE ------------ */
/* -------------------------------------------------------------------------------- */

.caminhoEventoAberto{
	font-family:"Trebuchet MS";
	color:#66705c;
	font-size:11px;
	padding-top:10px;
	float:left;
	}

.dataEventoAberto{
	font-family:"Trebuchet MS";
	color:#66705c;
	font-size:10px;
	padding-top:10px;
	float:right;
	}
	

.tituloEventoAberto{
	font-family:"Trebuchet MS";
	color:#495931;
	font-size:12px;
	width:405px;
	line-height:14px;
	float:left;
	padding-top:5px;
	padding-bottom:5px;
	}
	
.imagemEvento{
	width:405px;
	height:230px;
	padding-bottom:15px;
	}

.textoEventoAberto{
	position:relative;
	font-family:"Trebuchet MS";
	color:#66705c;
	font-size:11px;
	width:405px;
	line-height:13px;
	padding-top:5px;
	}
	
.separaEvento{
	margin-top:20px;
}

.arquivoDownload{
	font-family:"Trebuchet MS";
	color:#495931;
	font-size:11px;
	font-weight:bold;
	width:405px;
	padding-top:10px;
	}
.video{
	margin-top:30px;
	width:405px;
	height:328px;
}

.arquivoDownload a:link, .arquivoDownload a:visited,  .arquivoDownload a:active{color:#495931; text-decoration:none;}
.arquivoDownload a:hover {color:#9faa3c;}

.eventosRelacionados{
	width:405px;
	padding-top:20px;
	padding-bottom:5px;
	}

#relacionados{
	width:395px;
	}
	
.evtRelacionadoData{
	float:left;
	font-family:"Trebuchet MS";
	color:#66705c;
	font-size:10px;
	}
	
.evtRelacionadoTipo{
	float:left;
	font-family:"Trebuchet MS";
	color:#000;
	font-size:9px;
	padding-left:0px;
	}
	
.evtRelacionadoTitulo{
	float:left;
	font-family:"Trebuchet MS";
	color:#495931;
	font-size:10px;
	padding-left:10px;
	}

.evtRelacionadoLeia{
	float:right;
	font-family:"Trebuchet MS";
	color:#495931;
	font-size:9px;
	}

.evtRelacionadoLeia a:link, .evtRelacionadoLeia a:visited,  .evtRelacionadoLeia a:active{color:#495931; text-decoration:none;}
.evtRelacionadoLeia a:hover {color:#9faa3c;}

.separaRelacionados{
	padding-top:5px;
	padding-bottom:5px;
	}
	
	
/* ------------ DIV ESQUERDA - FILTRO ANO/MÊS/TIPO/CATEGORIA E CADASTRO ----------- */
/* -------------------------------------------------------------------------------- */

/* STYLE PARA COMBOS DE FILTRO */

.comboFechado{
	background-image:url(../img/comboBoxfechado.gif);
	background-repeat:no-repeat;
	width:186px;
	height:19px;
	font-family:"Trebuchet MS";
	color:#495931;
	font-size:10px;
	margin-left:35px;
	padding-left:5px;
	padding-bottom:1px;
	padding-top:1px;
	}
.comboAbertoItemAberto{
	background-image:url(../img/comboBoxAberto.jpg);
	background-repeat:no-repeat;
	width:186px;
	height:19px;
	font-family:"Trebuchet MS";
	color:#7b8370;
	font-size:10px;
	margin-left:35px;
	padding-top:1px;
	padding-left:5px;
	}
	
.comboAbertoItemFechado{
	background-image:url(../img/comboBoxAberto.jpg);
	background-repeat:no-repeat;
	width:186px;
	height:19px;
	font-family:"Trebuchet MS";
	color:#7b8370;
	font-size:10px;
	margin-left:35px;
	padding-top:1px;
	padding-left:5px;
	}
	
.categoria{
	background-image:url(../img/comboBoxAbertoMostraCategoria.jpg);
	background-repeat:no-repeat;
	width:176px;
	height:19px;
	margin-left:45px;
	padding-top:1px;
	padding-left:5px;
	font-family:"Trebuchet MS";
	color:#7b8370;
	font-size:10px;
	}


/* STYLE ITEM DE COMBOBOX TIPO:CATEGORIA ABERTO */
.categoria a:link, .categoria a:visited,  .categoria a:active{color:#7b8370; text-decoration:none;}
.categoria a:hover {color:#273316;}

/* STYLE ITEM DE COMBOBOX TIPO ABERTO */
.comboAbertoItemAberto a:link, .comboAbertoItemAberto a:hover, .comboAbertoItemAberto a:visited,  .comboAbertoItemAberto a:active{color:#273316; text-decoration:none;}

/* STYLE ITEM DE COMBOBOX TIPO FECHADO */
.comboAbertoItemFechado a:link, .comboAbertoItemFechado a:hover, .comboAbertoItemFechado a:visited,  .comboAbertoItemFechado a:active{color:#7b8370; text-decoration:none;}
.comboAbertoItemFechado a:hover {color:#273316;}

/* STYLE ITEM DE COMBOBOX TIPO FECHADO */
.comboFechado a:link, .comboFechado a:hover, .comboFechado a:active{color:#7b8370; text-decoration:none;}
.comboFechado a:hover {color:#273316;}
comboFechado a:visited {color:#495931;}

/* STYLE PARA TÍTULOS DE FILTROS E CADASTRE */

.tituloFiltroAno{
	padding-top:15px;
	padding-bottom:5px;
	}

.tituloFiltroMes{
	padding-top:15px;
	padding-bottom:5px;
	}
.tituloFiltroCategoria{
	padding-bottom:5px;
	}

.tituloCadastre{
	padding-top:25px;
	padding-bottom:5px;
	}

/* STYLE PARA FORM DE CADASTRO */

.form{
	margin: 0 0 0 0;
	}

.campoNormal{
	width:186px;
	height:19px;
	background-color:#f1f0e6;
	margin-left:35px;
	margin-bottom:4px;
	border:none;
	font-family:"Trebuchet MS";
	color:#7b8370;
	font-size:10px;
	padding-left:5px;
	}
	
.campoMenorFloat{
	width:167px;
	height:19px;
	background-color:#f1f0e6;
	margin-left:35px;
	border:none;
	font-family:"Trebuchet MS";
	color:#7b8370;
	font-size:10px;
	padding-left:5px;
	float:left;
	}

.botaoOKFloat{
	float:left;
	}
	
/* ----------------- ESTILO DO TOPO DA PÁGINA ----------------- */
/* ---------------- ESTILO DO RODAPÉ DA PÁGINA ---------------- */

#rodape{
	background-image:url(../img/bgRodape.jpg);
	background-repeat:repeat-x;
	overflow:hidden;
	position:relative;
	margin-top:5px;
	width:941px;
	height:60px;
	}

.rodapeSelos{
	height:45px;
	float:left;
	padding-top:5px;
	padding-left:10px;
	}
	
.rodapeSeloPub{
	height:45px;
	float:right;
	padding-right:10px;
	padding-top:20px;
	}

.rodapeEndereco{
	font-family:"Trebuchet MS";
	color:#7b8370;
	font-size:11px;
	float:left;
	padding-top:25px;
	padding-left:140px;
	vertical-align:middle;
	}
.rodapeTelefone{
	font-family:"Trebuchet MS";
	color:#7b8370;
	font-size:12px;
	float:left;
	padding-top:23px;
	padding-left:20px;
	}