@charset "utf-8";
/* CSS Document */
* {
	margin:0;
	padding:0;
}
body{
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color:#9ba046;

	font:normal 11px "Trebuchet MS";
	color:#514929;
}

a:link{
text-decoration:none;
color:#514929;
}
a:active{
text-decoration:none;
color:#514929;
}
a:visited{
text-decoration:none;
color:#514929;
}
a:hover{
color:#517619;
text-decoration:none;
}

.menuOn{
font:bold 12px 'Arial'; color:#495931;
background-color:#dfddc4;
color:#7e8001;
}

.menuOff{
font:bold 12px 'Arial'; color:#495931;
background-color:none;
}

.botaoPadrao{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #fafafa;
	background-color: #7d7a45;
	height: 19px;
	border:solid 1px #a4a05b;
}

.formularioPadrao {
background-color:#dbdabd;
border:solid 1px #fafafa;
height:19px;
font:normal 11px "Trebuchet MS";
color:#514929;
}

.formularioPadraoTextArea {
background-color:#dbdabd;
border:solid 1px #fafafa;
font:normal 11px "Trebuchet MS";
color:#514929;
}

.linkSaladeImprensa:link{
color:#566336;
}
.linkSaladeImprensa:visited{
color:#566336;
}
.linkSaladeImprensa:active{
color:#566336;
}
.linkSaladeImprensa:hover{
color:#919038;
}

.abaativa{
	font-size:12px;
	font-weight:bold;
	color:#0c7a12;
	margin:6px;
	cursor:pointer;
}
.abainativa{
	font-size:11px; 
	font-weight:normal; 
	color:#566336; 
	margin:6px; 
	cursor:pointer;
}